# Java
*.class
*.jar
*.war
*.ear

# Logs
*.log

# Maven / Gradle
target/
build/
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# IDEs
.idea/
.vscode/
*.iml
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db
